[submodule "dvlt.cu"]
	path = dvlt.cu
	url = https://github.com/flaviofuego/dvlt.cu
[submodule "sam2"]
	path = sam2
	url = https://github.com/cristian10gf/sam2.git
[submodule "depth-anything-3"]
	path = depth-anything-3
	url = https://github.com/bytedance-seed/depth-anything-3.git
[submodule "numcc/nksr"]
	path = numcc/nksr
	url = https://github.com/nv-tlabs/nksr.git
[submodule "aira"]
	path = aira
	url = https://github.com/UnderJollyRogers/AIRA
